<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h1>Test !</h1>

    {# Création de variables #}
    {% set name = 'Arthur' %}
    {# Symbole de concaténacion #}
    <h2>Hola {{ name ~ " " ~ name }} !</h2>
    <h2>Hola {{ name }} {{ name }} !</h2>

    {# Création d'un tableau #}
    {% set colors = ['red', 'purple', 'green', 'yellow'] %}
    {% for color in colors %}
    <div style="background-color: {{ color }}">{{ color }}</div>
    {% endfor %}






</body>
</html>